## pandas

In [2]:
import pandas as pd

In [7]:
data = pandas.read_csv("Pokemon.csv")
data.head()

,#,Name,Type 1,Type 2,Total,HP,Attack,Defense,Sp. Atk,Sp. Def,Speed,Generation,Legendary
0,1,Bulbasaur,Grass,Poison,318,45,49,49,65,65,45,1,False
1,2,Ivysaur,Grass,Poison,405,60,62,63,80,80,60,1,False
2,3,Venusaur,Grass,Poison,525,80,82,83,100,100,80,1,False
3,3,VenusaurMega Venusaur,Grass,Poison,625,80,100,123,122,120,80,1,False
4,4,Charmander,Fire,NaN,309,39,52,43,60,50,65,1,False

In [13]:
data["Type 1"].value_counts()

Water       112
Normal       98
Grass        70
Bug          69
Psychic      57
Fire         52
Electric     44
Rock         44
Ghost        32
Ground       32
Dragon       32
Dark         31
Poison       28
Steel        27
Fighting     27
Ice          24
Fairy        17
Flying        4
Name: Type 1, dtype: int64

In [39]:
data.sort_values(["HP","Speed"])

,#,Name,Type 1,Type 2,Total,HP,Attack,Defense,Sp. Atk,Sp. Def,Speed,Generation,Legendary,Attack_high_Low,Attack_high_low,HP_high_low,Speed_high_low
316,292,Shedinja,Bug,Ghost,236,1,90,45,30,30,40,3,False,Attack High,Attack High,Attack Low,Attack Low
55,50,Diglett,Ground,NaN,265,10,55,25,35,45,95,1,False,Attack Low,Attack Low,Attack Low,Attack High
230,213,Shuckle,Bug,Rock,505,20,10,230,10,230,5,2,False,Attack Low,Attack Low,Attack Low,Attack Low
388,355,Duskull,Ghost,NaN,295,20,40,90,30,90,25,3,False,Attack Low,Attack Low,Attack Low,Attack Low
186,172,Pichu,Electric,NaN,205,20,40,15,35,35,60,2,False,Attack Low,Attack Low,Attack Low,Attack Low
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
655,594,Alomomola,Water,NaN,470,165,75,80,40,45,65,5,False,Attack Low,Attack Low,Attack High,Attack Low
351,321,Wailord,Water,NaN,500,170,90,45,90,45,60,3,False,Attack High,Attack High,Attack High,Attack Low
217,202,Wobbuffet,Psychic,NaN,405,190,33,58,33,58,33,2,False,Attack Low,Attack Low,Attack High,Attack Low
121,113,Chansey,Normal,NaN,450,250,5,5,35,105,50,1,False,Attack Low,Attack Low,Attack High,Attack Low
261,242,Blissey,Normal,NaN,540,255,10,10,75,135,55,2,False,Attack Low,Attack Low,Attack High,Attack Low

In [34]:
hp_mean = data["HP"].mean()

def set_hp(val):
    if val < hp_mean:
        return "HP Low"
    elif val == hp_mean:
        return "HP neutral"
    else:
        return "HP High"

In [37]:
# "HP_high_Low" -> "HP High" , "HP Low"
data["HP_high_low"] = data["HP"].apply(set_attack)
data

,#,Name,Type 1,Type 2,Total,HP,Attack,Defense,Sp. Atk,Sp. Def,Speed,Generation,Legendary,Attack_high_Low,Attack_high_low,HP_high_low
0,1,Bulbasaur,Grass,Poison,318,45,49,49,65,65,45,1,False,Attack Low,Attack Low,Attack Low
1,2,Ivysaur,Grass,Poison,405,60,62,63,80,80,60,1,False,Attack Low,Attack Low,Attack Low
2,3,Venusaur,Grass,Poison,525,80,82,83,100,100,80,1,False,Attack High,Attack High,Attack High
3,3,VenusaurMega Venusaur,Grass,Poison,625,80,100,123,122,120,80,1,False,Attack High,Attack High,Attack High
4,4,Charmander,Fire,NaN,309,39,52,43,60,50,65,1,False,Attack Low,Attack Low,Attack Low
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
795,719,Diancie,Rock,Fairy,600,50,100,150,100,150,50,6,True,Attack High,Attack High,Attack Low
796,719,DiancieMega Diancie,Rock,Fairy,700,50,160,110,160,110,110,6,True,Attack High,Attack High,Attack Low
797,720,HoopaHoopa Confined,Psychic,Ghost,600,80,110,60,150,130,70,6,True,Attack High,Attack High,Attack High
798,720,HoopaHoopa Unbound,Psychic,Dark,680,80,160,60,170,130,80,6,True,Attack High,Attack High,Attack High
799,721,Volcanion,Fire,Water,600,80,110,120,130,90,70,6,True,Attack High,Attack High,Attack High

In [ ]:
speed_mean = data["Speed"].mean()

def set_speed(val):
    if val < speed_mean:
        return "Speed Low"
    elif val == speed_mean:
        return "Speed neutral"
    else:
        return "Speed High"

In [38]:
# "Speed_High_Low" -> "Speed High" , "Speed low"
data["Speed_high_low"] = data["Speed"].apply(set_attack)
data

,#,Name,Type 1,Type 2,Total,HP,Attack,Defense,Sp. Atk,Sp. Def,Speed,Generation,Legendary,Attack_high_Low,Attack_high_low,HP_high_low,Speed_high_low
0,1,Bulbasaur,Grass,Poison,318,45,49,49,65,65,45,1,False,Attack Low,Attack Low,Attack Low,Attack Low
1,2,Ivysaur,Grass,Poison,405,60,62,63,80,80,60,1,False,Attack Low,Attack Low,Attack Low,Attack Low
2,3,Venusaur,Grass,Poison,525,80,82,83,100,100,80,1,False,Attack High,Attack High,Attack High,Attack High
3,3,VenusaurMega Venusaur,Grass,Poison,625,80,100,123,122,120,80,1,False,Attack High,Attack High,Attack High,Attack High
4,4,Charmander,Fire,NaN,309,39,52,43,60,50,65,1,False,Attack Low,Attack Low,Attack Low,Attack Low
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
795,719,Diancie,Rock,Fairy,600,50,100,150,100,150,50,6,True,Attack High,Attack High,Attack Low,Attack Low
796,719,DiancieMega Diancie,Rock,Fairy,700,50,160,110,160,110,110,6,True,Attack High,Attack High,Attack Low,Attack High
797,720,HoopaHoopa Confined,Psychic,Ghost,600,80,110,60,150,130,70,6,True,Attack High,Attack High,Attack High,Attack Low
798,720,HoopaHoopa Unbound,Psychic,Dark,680,80,160,60,170,130,80,6,True,Attack High,Attack High,Attack High,Attack High
799,721,Volcanion,Fire,Water,600,80,110,120,130,90,70,6,True,Attack High,Attack High,Attack High,Attack Low